<div class="wrapper">
    <div class='container content-quiz'>
        <div class="quiz">
            <form class="form-quiz">
                <div class="title-quiz">
                    <input type="text" 
                           autocomplete="off"
                           placeholder="Nombre de la Encuesta"
                           name="NomEncuesta" class="title form-control" />
                </div>
                <div class="list-questions">
                    <div class="custom-input">
                        <div class="row">
                            <div class="col-7">
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-5">
                                <select class="form-control" >
                                    <option>Texto</option>
                                    <option>Radio Button</option>
                                    <option>Radio Button</option>
                                </select>
                            </div>
                        </div>
                        <div class='list-options'>
                             <div class="type-checkbox">
                                <ul>
                                    <li>
                                        <div class="type-group-list">
                                            <div class="inline tmp-checkbox"></div>
                                            <input type="text" value="Checkbox 1" class="inline form-control"/>
                                        </div>
                                    </li>
                                </ul>
                                <a href="#" class="btn-sm btn circle rounded btn-primary"><i class="fa fa-plus"></i> Agregar opción</a>
                            </div>
                        </div>
                        <hr>
                        <div class='actions-quiz'>
                            <a href="" class="btn btn-info"><i class="fa fa-copy"></i></a>
                            <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                    
                    
                </div>
            </form>
        </div>
        <a href="" class="button-add"><i class="fa fa-plus"></i></a>
    </div>
</div>

<script id="type-text-template" type="text/x-handlebars-template">
    <div class="type-text">
        <span class="text">Texto de respuesta</span>
    </div>
</script>

<script id="type-checkbox-template" type="text/x-handlebars-template">
   
</script>
    
<script id="type-options-template" type="text/x-handlebars-template">

    <div class="type-options">
        <ul>
            <li>
                <div class="type-group-list">
                    <div class="inline tmp-radio"></div>
                    <input type="text" value="Opción 1" class="inline form-control"/>
                </div>
            </li>
        </ul>
        <a href="#" class="btn-sm btn circle rounded btn-primary"><i class="fa fa-plus"></i> Agregar opción</a>
    </div>
</script>
    
    
<script id="create-template" type="text/x-handlebars-template">

</script>
    
